/* imagen de fondo hero */

.bgimage {

    height: 100vh;

    background: url("../images/heroimage.jpg");

    background-size: cover;

    position: relative;

}

/* css de texto encima de la imagen hero */

.hero_title {

    font-size: 4.5rem;

}

.hero_desc {

    font-size: 2rem;

}

.hero-text {

    text-align: center;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    color: white;

}

/* about section image css */

.imageAboutPage {

    width: 100%;

    border-radius: 10px;

}
/* tamaño de la Card al pasar el mouse */

.card:hover {

    transform: scale(1.05);

}

/* tamaño iconos Cards */

.card-icon{

    max-width: 10%;
    height: auto;
}

.navbar-toggler {
    color: #7c7c7c;
}

/* display background color black on navbar scroll */

.navbarScroll.navbarDark {

    background-color: black;

}

/* social media icons styling */

.social-icons {

    font-size: 36px;

    cursor: pointer;

}

.fa-facebook:hover,

.fa-instagram:hover,

.fa-twitter:hover,

.fa-github:hover,

.fa-linkedin:hover {

    color: #2771d1;

}

.fab {

    color: #000000;

}

/* footer styling */

#footer {

    background-color: #7c7c7c;

    text-align: center;

}

/* spacing on all sections */

#about,

#skills,

#contact {

    margin-top: 4rem;

    padding-top: 4rem;

}

#contact {

    padding-bottom: 4rem;

}


                        
